<div class="container text-center">
  <br /><br />
  <div class="col-md-6 col-xs-12">
      <%=link_to "Comenzar un Nuevo Póster",new_poster_path,class:"btn btn-success btn-lg" %>
  </div>
  <div class="col-md-6 col-xs-12">
      <%=link_to "Unirse a un Póster Existente",join_poster_path,class:"btn btn-info btn-lg" %>
  </div>
  <br /><br />
</div>
