<p><strong>Bienvenido a la Edición 2017 de CONCYT!</strong></p>

<p>Para confirmar su cuenta por favor ingrese al siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p><center>Departamento de Sistemas - Comisión de Investigaciones Científicas de la Provincia de Buenos Aires</center></p>