<div class="row">

  <% if notice %>
    <div class="col-md-12">
      <p class="alert alert-success" style="font-size:1.0625em;"><strong><span class="glyphicon glyphicon-exclamation-sign"></span> <%= notice %></strong></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="col-md-12">
      <p class="alert alert-danger" style="font-size:1.0625em;"><strong><span class="glyphicon glyphicon-exclamation-sign"></span> <%= alert %></strong></p>
    </div>
  <% end %>
</div>
